<option value="https://www.realestate.cv.ua/region/city/chernivtsi/">місто Чернівці</option>
<option value="https://www.realestate.cv.ua/region/city/novodnistrovsk/">місто Новодністровськ</option>
<option value="https://www.realestate.cv.ua/district/chernivetskyy/">Чернівецький район</option>
<option value="https://www.realestate.cv.ua/district/dnistrovskyy/">Дністровський район</option>
<option value="https://www.realestate.cv.ua/district/vyzhnytskyy/">Вижницький район</option>
<option value="https://www.realestate.cv.ua/district/town/hertsa/">місто Герца</option>
<option value="https://www.realestate.cv.ua/district/town/khotyn/">місто Хотин</option>
<option value="https://www.realestate.cv.ua/district/town/kitsman/">місто Кіцмань</option>
<option value="https://www.realestate.cv.ua/district/town/novoselytsia/">місто Новоселиця</option>
<option value="https://www.realestate.cv.ua/district/town/sokyriany/">місто Сокиряни</option>
<option value="https://www.realestate.cv.ua/district/town/storozhynets/">місто Сторожинець</option>
<option value="https://www.realestate.cv.ua/district/town/vashkivtsi/">місто Вашківці</option>
<option value="https://www.realestate.cv.ua/district/town/vyzhnytsia/">місто Вижниця</option>
<option value="https://www.realestate.cv.ua/district/town/zastavna/">місто Заставна</option>
<option value="https://www.realestate.cv.ua/region/chernivetska/">Чернівецька область</option>
