<meta charset="utf-8"/>
<meta name="robots" content="index, follow"/>
<meta name="language" content="Українська"/>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
<title>
  {%- if page.title -%}
    {{ page.title | smartify }} · {{ site.title | smartify }}
  {%- else -%}
    {{ site.title | smartify }} · {{ site.name | smartify }}
  {%- endif -%}
</title>
<link rel="canonical" href="{{ page.url | absolute_url }}"/>
<meta name="keywords" content="{{ page.keywords | default: site.keywords | smartify }}"/>
<meta name="description" content="{{ page.description | default: site.description | smartify }}"/>
<meta name="country" content="{{ site.country }}"/>
<meta name="region" content="{{ site.region }}"/>
<meta name="locality" content="{{ page.breadcrumb }}"/>
<meta name="author" content="{{ site.developer.name }}"/>
<meta name="format-detection" content="telephone=no"/>
<link rel="icon" type="image/x-icon" href="{{ 'favicon.ico' | relative_url }}">
<link rel="preload" href="{{ "/assets/css/owner.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="style">
<link rel="preload" href="{{ "/assets/js/main.owner.js" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}" as="script">
<link rel="stylesheet" href="{{ "/assets/css/owner.css" | relative_url }}?v={{ site.time | date: '%Y%m%d%H%M%S' }}">
